[Desktop Entry]
Version=2.0.0
Name=CSIRT Laundry
Comment=Perform CSIRT Disk Cleanup Tasks
Exec=~/CSIRT/csirt %U
Icon=~/CSIRT/csirt.svg
Terminal=True
StartupWMClass=CSIRT Laundry
Type=Application
Categories=Utility;Security Tools;
MimeType=Shell Script